body {
  margin: 0;
  background-image: url("../public/images/back222.png");
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
